.App {
  text-align: center;
}


.Appcontainer{

  margin-top: 20px ;
 
  
}

.title{
  font-size: 12px !important;
  text-align: left !important;

  width: 200px;
 
}
.date{
  font-size: 14px;
  color: black !important;
  font-weight: bold;
  width: 200px  !important;
  text-align: left !important;
}

.channel{
  width: 200px;
  text-align: left !important;
}

.hvr:hover{
cursor: pointer;
}
.videodetail{
  width: 1000px;
 
  align-content: center;
 margin-left: 40px auto;
 background-color: rgb(229, 231, 235);
}

.mg{

  margin-top: 15px;
}
.header{
  font-weight: bold;
  color: black;
}

.itemcontainer{
  background-color: rgb(72, 110, 187) !important;
}